<div *ngIf="showWelcome" class="welcome-container" [@fade] (@fade.done)="onWelcomeFadeDone($event)">
    <h1>Welcome</h1>
</div>
  
<div class="dashboard-nav-trigger-area" *ngIf="showChart" [@fade]>

  <span class="nav-open-indicator material-symbols-outlined">
    chevron_right
  </span>

  <nav class="dashboard-nav">
    <button class="nav-button" (click)="goTo('expenses')">
      <span class="material-symbols-outlined">receipt_long</span> Expenses
    </button>
    <button class="nav-button" (click)="goTo('calendar')">
      <span class="material-symbols-outlined">calendar_month</span> Calendar
    </button>
    <button class="nav-button" (click)="goTo('settings')">
      <span class="material-symbols-outlined">settings</span> Settings
    </button>
  </nav>
</div>

<div *ngIf="showChart" class="main-content-area" [@fade]>
  <h1 class="chart-title" [innerHTML]="chartDateRangeTitle"></h1>
  <div class="chart-wrapper">
    <canvas baseChart
            [data]="{ labels: doughnutChartLabels, datasets: doughnutChartDatasets }"
            [type]="doughnutChartType"
            [options]="doughnutChartOptions"
            [legend]="false">
    </canvas>
    <div class="chart-center-text">
      {{ totalBudget | currency:'CAD':'symbol':'1.0-0' }}
    </div>
  </div>
  <div class="custom-legend-dashboard" *ngIf="doughnutChartLabels.length > 0">
    <ul class="legend-list">
      <li *ngFor="let label of doughnutChartLabels; let i = index" class="legend-item">
        <span class="legend-color-box" [style.backgroundColor]="getLegendColor(i)"></span>
        <span class="legend-label">{{ label }}</span>
      </li>
    </ul>
  </div>
</div>