body {
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;   
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  
}
  
html, body { height: 100%; }

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-content {
  flex: 1 0 auto; 
}

:root {
  --app-accent-color: #007bff; 
  --app-accent-color-dark: #0056b3; 
  --app-accent-color-light: #a0d0ff; 
}