body {
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;   
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-color: var(--app-bg-dark-primary);  */
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-content {
  flex: 1 0 auto; 
}

:root {
  --app-accent-color-futuristic: #22d3ee;
  --app-accent-color-futuristic-dark: #06b6d4;
  --app-text-color-light: #cbd5e1;
  --app-text-color-medium: #94a3b8;
  --app-text-color-dark: #1e293b;
  --app-bg-dark-primary: #0f172a;
  --app-bg-dark-secondary: #1e293b;
  --app-border-dark: #334155;
}

html, body { height: 100%; }